
.user-item{
    width:95%;
    border-radius: 5px;
    background-color: #e3f4f4;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 25% 75%;
    cursor: pointer;
    height: 50px;
}
.user-item:hover{
    background-color: #51656522;
}
.convo-log-cont{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.convo-logo{
    height:35px;
    width:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #9bbdff;
    color: #516565;
}
.user-name{
    display: flex;
    align-items: center;
    color:#516565;
}
.active-convo{
    background-color: #51656522;
    color:#202020;
}
.active-convo .user-name{
    color:#202020;
}
.online .convo-logo{
    background-color: #aacb7c;
}
.last-msg{
    font-size: 0.6em;
}
.convo-data{
    display: grid;
    grid-template-rows: 60% 40%;
}