
.user-item{
    height: 40px;
    width:90%;
    border-radius: 5px;
    background-color: #aaaaa044;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25% 75%;
    cursor: pointer;
}
.convo-log-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.convo-logo{
    height:35px;
    width:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #202020;
    color: #aaaaa0;
}
.user-name{
    display: flex;
    align-items: center;
    color:#E0EEE0;
}
.active-convo{
    background-color: #aaaaa0;
    color:#202020;
}
.active-convo .user-name{
    color:#202020;
}